
<br>
<button class="bt" mat-raised-button color="primary">Create Issue<mat-icon> add </mat-icon></button>
<br>
<div class="container">

  <table>


    <tr>

      <th>ID</th>

      <th>Name</th>

      <th>Status</th>

      <th>Reported By </th>

      <th>Date </th>

      <th>Area</th>

      <th>Person</th>

      <th>Actions Items</th>

      <th>close Date</th>

      <th>Summary</th>

    </tr>

    <!-- 1 st -->
    <tr>

      <td>1</td>
      <td>Aditi</td>
      <td>Done</td>
      <td>Aditi</td>
      <td>05/04/2023</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>20/04/2023</td>

    </tr>

    <!-- 2nd -->
    <tr>

      <td>2</td>
      <td>-</td>
      <td>-</td>
      
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>

    </tr>

    <tr>









  </table>

</div>